<section class="section section-background-color">
<div class="content has-text-centered is-medium mb-6">
<h1><strong class="has-text-white">Anime Food Recipe</strong></h1>
</div>

<div class="container pb-6">
<div class="columns">
<% @foods[0...3].each do |card_item| %>
<div class="column">
<div class="card">
  <div class="card-content">
    <p class="title">
      <%=  card_item.food_title%>
    </p>
    <p class="subtitle">
     Anime: <%= card_item.anime_name %>
    </p>
<div class="content">
<p>
<%= card_item.anime_food_recipe.length > 10 ? card_item.anime_food_recipe[0...1000] + "..." : card_item.anime_food_recipe %>
</p>
    <p class="has-text-centered">
     *click show to know about the recipe*
    </p>
    </div>
  </div>
  <div class="card-footer">
    <p class="card-footer-item"><i class="fa-regular fa-eye"></i>-<%= link_to "SHOW", foods_show_path(card_item.id), class: "has-text-black" %>

    </p>
    <p class="card-footer-item">
    <i class="fa-regular fa-pen-to-square"></i>-
<%= link_to "EDIT", list_edit_food_path(card_item.id) , class: "has-text-black"%>
      
    </p>
    <p class="card-footer-item">
    <i class="fa-solid fa-trash"></i>-
      <%= link_to "DELETE", destroy_listed_food_path(card_item.id),
                  method: :delete,
                  data: { confirm: "ARE YOU SURE?" } , class: "has-text-black" %>
    </p>
</div>
</div>
</div>
<% end %>
</div>
</div>

</section>