<section class="section section-background-color">
<%# .anime_food_recipe
.food_title
.anime_name %>
<div class="content has-text-centered is-medium mb-6">
<h1><strong>&#127857; <%= @foods.food_title %> &#127857;</strong></h1>
<h2>Anime From <%= @foods.anime_name %></h2>
</div>  
<div class="container content">
<h2>Recipe :</h2>
<textarea class="column textarea box" readonly><%= @foods.anime_food_recipe %></textarea>
<div class="columns is-centered has-text-centered ">
    <a href="/foods/edit/<%=@foods.id%>" class="column is-1 card button-bigger"><i class="fa-regular fa-pen-to-square"></i>-EDIT</a>
    <div class="column is-0"></div>
    <a data-confirm="ARE YOU SURE?" rel="nofollow" data-method="delete" href="/foods/<%=@foods.id%>" class="column is-1 card button-bigger"><i class="fa-solid fa-trash"></i></i>-DELETE</a>
</div>
</div>
</section>